body {
    width: 720px;
    margin: auto;
}

body header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 720px;
    height: 70px;
    align-items: center;

}

header h2 {
    font-family: Brush Script MT;
    margin: auto;
}

header p {
    color: rgba(75, 71, 71, 0.308);
    float: left;
}

body header img {
    float: right;
}



main p {
    text-indent: 20px;
    padding: 10px;
}

.bigimg {
    width: 720px;
    height: 480px;
    margin: auto;
}

.back {
    background-image: url("./assets/list-bg.png");
    columns: 2;
}

#space2 {
    border-bottom: 8px solid #bbb;
    border-radius: 5px;
    margin: 20px;
}

button {
    border-radius: 12px;
    background-color: rgb(210, 60, 0);
    color: white;
    font-size: 20px;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

footer div {
    margin-left: 10px;
}

footer div h2 {
    font-weight: bold;
    font-size: large;
    margin-bottom: 2px;
}

#space3 {
    border-bottom: 1px solid #bbb;
    border-style: solid;
}

bottom img {
    padding-left: 360px;
    margin: auto;
}

#copyrights {
    margin: auto;
    padding-left: 280px;
}

#last {
    margin: auto;
    padding-left: 290px;
}

.div1 {
    display: grid;
    grid-template-columns: auto auto;
    width: 720px;
    gap: 300px;
    align-items: center;
}

.div12 {
    display: grid;
    grid-template-columns: 0px 0px;
    align-items: center;
}

main {
    width: 100%;
    margin: auto;
}

#HStext {
    font-size: 28px;
}

.dotted {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

#logo{
    margin: auto;
    justify-content: center;
}